@mixin transition($time: 0.3s, $duration: 0s) {
  transition: all $time ease $duration;
}

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#{$type}-width: $width) {
    @content;
   }
  }
}

@mixin placeholder {
	$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
	@each $placeholder in $placeholders {
		&:#{$placeholder}-placeholder {
			@content;
		}
	}
}

@mixin format-text($font-size: 14px, $font-weight: 400, $color: false, $line-height: false) {
	font-size: px2em($font-size);
	font-weight: $font-weight;

	@if $color {
		color:$color;
	}

	@if $line-height {
		line-height: px2em($line-height);
	}
	@else {
		line-height: 100%;
	}
}


@mixin center {
	position:absolute;
	margin:auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// add muted bg
@mixin muted($color: #000, $opacity: 0.5) {
	position:relative;
	&:before {
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-color:rgba($color, $opacity);
	}
}
@mixin gradient($deg: '-45deg', $bg1: '#7f20da' , $bg2: '#e05a6c') {
	background-image: linear-gradient($deg, $bg1 0%, $bg2 100%);
}
@mixin classMod($class, $type: false) {

	body [class*='#{$class} '],
	body [class$='#{$class}'] {
		@content;
	}
	@include mq('tablet') {
		html body [class*='#{$class}_xs '],
		html body [class$='#{$class}_xs'] {
			@content;
		}
	}
	@include mq('tablet', min) {
		@include mq('tablet-wide') {
			html body [class*='#{$class}_sm '],
			html body [class$='#{$class}_sm'] {
				@content;
			}
		}
	}
	@include mq('tablet-wide', min) {
		@include mq('desktop') {
			html body [class*='#{$class}_md '],
			html body [class$='#{$class}_md'] {
				@content;
			}
		}
	}

	@include mq('desktop', min) {
		html body [class*='#{$class}_lg '],
		html body [class$='#{$class}_lg'] {
			@content;
		}
	}
}
