// Контрольные точки;
$breakpointsPhone:             400px;
$breakpointsPhoneWide:         480px;
$breakpointsPhablet:           540px;
$breakpointsTabletSmall:       640px;
$breakpointsTablet:            768px;
$breakpointsTabletWide:        992px;
$breakpointsDesktop:           1200px;
$breakpointsDesktopWideMd:     1400px;
$breakpointsDesktopWide:       1600px;
$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        md: 992px,
        lg: 1200px
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;
$breakpoints: (
  "phone":        $breakpointsPhone,
  "phone-wide":   $breakpointsPhoneWide,
  "phablet":      $breakpointsPhablet,
  "tablet-small": $breakpointsTabletSmall,
  "tablet":       $breakpointsTablet,
  "tablet-wide":  $breakpointsTabletWide,
  "desktop":      $breakpointsDesktop,
  "desktop-wide-md":      $breakpointsDesktopWideMd,
  "desktop-wide": $breakpointsDesktopWide
);

// Цвета на сайте
$blue: #0078ff;
$white: #FFF;
$black: #000;
$gray10: scale-color($black,$lightness:10%); // 1a1a1a

$mobileBrackpoints: 'tablet';

// Grids
$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
) !default;


$baseFS: 14px !default;
$baseLH: ( 17px / $baseFS );
$baseFW: 400;
$baseFSt: normal;
$baseFF: Arial,Helvetica,sans-serif;;
$baseFClr: $black;
$baseBg: $white;

$containerW: 1200px;
$containerP: 0 $grid-gutter-width-base/2;

$baseLinkColor: $blue;



