extends extends/base.pug
append vars
  - var pageUrl = 'index.html';
  - var pageTitle = 'Главная страница';
  - var classBody = '';
  - var gridShow = true;
block content
  .container

block scripts
