mixin header()
  header
    div(class="logo")
      a(href="/")
        img(src='/images/logo.png')
        span BuhOne
    div(class="top-cover")
      div(class="top-info")
        ul
          li
            a(class="phone" href="tel:81112223344") 8(111)222-33-44
          li(class="schedule") Пн-Пт 10:00-18:00
          li
            a(class="mail" href="mailto:order@buhone.ru") order@buhone.ru
          li
            a(class="place" href="#") Невский пр. 130
      div(class="top-menu")
        nav
          ul
            li
              a(href="/") Главная
            li
              a(href="#") Услуги
            li
              a(href="#") Кейсы
            li
              a(href="#") О компании
            li
              a(href="#") Контакты