include ../helpers/mixin
doctype html
html
  block vars
    -
      var baseData =
              {
                projectName: 'BuhOne',
                menu: [],
              };
  head
    meta(charset="utf-8")
    title=pageTitle ? baseData.projectName + ' | ' + pageTitle : baseData.projectName + ' | New page'

    meta( name="viewport" content="width=device-width, initial-scale=1")
    meta( name="format-detection" content="telephone=no")

    meta( name="description" content="" )
    meta( name="keywords" content="" )

    // appstore links
    //- meta(name="apple-itunes-app" content="app-id=555970430")
    //- meta(name="google-play-app" content="app-id=ru.alfabank.oavdo.amc")
    //- link(rel="apple-touch-icon" href="images/touch/apple-touch-icon-180x180.png")
    //- link(rel='apple-touch-icon', sizes='60x60', href='images/touch/apple-touch-icon-60x60.png')
    //- link(rel='apple-touch-icon', sizes='76x76', href='images/touch/apple-touch-icon-76x76.png')
    //- link(rel='apple-touch-icon', sizes='120x120', href='images/touch/apple-touch-icon-120x120.png')
    //- link(rel='apple-touch-icon', sizes='152x152', href='images/touch/apple-touch-icon-152x152.png')
    //- link(rel='apple-touch-icon', sizes='180x180', href='images/touch/apple-touch-icon-180x180.png')
    //- link(rel='icon', type='image/png', href='images/touch/favicon-32x32.png', sizes='32x32')
    //- link(rel='icon', type='image/png', href='images/touch/favicon-16x16.png', sizes='16x16')
    //- link(rel='manifest', href='images/touch/manifest.json')
    //- link(rel='mask-icon', href='images/touch/safari-pinned-tab.svg', color='#5bbad5')
    //- link(rel='shortcut icon', href='images/touch/favicon.ico')
    //- meta(name='msapplication-config', content='images/touch/browserconfig.xml')

    // seo meta
    meta(name="description" content="Meta description")
    meta(name="keywords" content="Key, words")
    meta(name="author" content="BuhOne")

    // og meta
    meta(property='og:title', content='BuhOne')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    meta(property='og:description', content='BuhOne')
    meta(name='twitter:title', content='BuhOne')
    meta(name='twitter:description', content='BuhOne')
    meta(name='twitter:image:src', content='https://projectname.surge.shimages/og/1_1200х628.jpg')
    meta(name='twitter:url', content='https://projectname.surge.sh')

    // remove for production
    meta(name="robots" content="noindex")

    block styles
    
  body(class=classBody)
    block body
      block header
        include ../../components/header/template
        +header()
      block main
        block content
      block footer
        include ../../components/footer/template
        +footer()
      block popups
    if gridShow
      +gridLayout()
    block scripts
    script.
    script(type="text/javascript" src="js/script.js")



